extends ../index.pug

block cont
    form#form-geosearch.form-container.form-search-theme.row.clearfix
        .greeting #{t("find.title")}
        
        #greeting Введіть адресу локації
        .form-wrapper